body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(120deg, #6dd5ed, #2193b0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fadeIn 2s ease;
}

.container {
  background-color: rgba(0,0,0,0.3);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

input[type="file"], input[type="text"] {
  margin: 15px 0;
  padding: 10px;
  width: 90%;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

button {
  background-color: #ff9800;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #f57c00;
}

#output {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.copyright {
    margin-top: 50%;
    position: absolute;
    font-weight: 700;
    bottom: 10px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}